@import './root.scss';
@import './mixins.scss';

.Dashboard {
    @include baseDisplay(transparent, 100vh, 100vw);
    display: flex;
    flex-direction: row;
    position: relative;
    position: absolute;
    overflow: hidden;

    .nav-tab {
        @include baseDisplay($--bg-div-color, 100vh, 13vw);
        box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: 1.0);
        display: flex;
        flex-direction: column;
        min-width: 13vw;
        transition: .2s ease-in-out;
        position: relative;

        .titleContainer {
            @include baseDisplay(none, 15vh, 13vw);
            display: grid;
            place-items: center;

            .brand {
                height: 11vh;
            }
        }

        .navigation {
            @include baseDisplay(none, auto, 13vw);
            display: flex;
            flex-direction: column;

            .category {
                @include baseDisplay(none, 5vh, 13vw);
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                border: 0px solid transparent;

                .meter {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .text {
                    font-family: $--text-font;
                    font-size: 1em;
                    color: #0e6cb9;
                    position: absolute;
                    right: 10%;
                }
            }

            .btn-1 {
                @include baseDisplay(none, 5vh, 13vw);
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                border: 0px solid transparent;

                .cartIcon {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .tableIcon {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .personIcon {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .truckIcon {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .chartIcon {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .text {
                    font-family: $--text-font;
                    font-size: .8em;
                    color: #0e6cb9;
                    position: absolute;
                    right: 10%;
                }
            }

            .btn-1:hover {
                background: #0e6cb9;

                .cartIcon {
                    color: $--bg-div-color;
                }

                .tableIcon {
                    color: $--bg-div-color;
                }

                .personIcon {
                    color: $--bg-div-color;
                }

                .truckIcon {
                    color: $--bg-div-color;
                }

                .chartIcon {
                    color: $--bg-div-color;
                }

                .text {
                    color: $--bg-div-color;
                }
            }
        }

        .btnLogout {
            @include baseDisplay(none, 5vh, 13vw);
            position: relative;
            position: absolute;
            bottom: 2%;
            display: grid;
            place-items: center;
            border: 0px solid transparent;

            .signoutIcon {
                color: #0e6cb9;
                position: absolute;
                left: 10%;
                font-size: 1.3em;
            }

            .text {
                font-family: $--text-font;
                font-size: .9em;
                color: #0e6cb9;
                position: absolute;
                right: 10%;
            }
        }

        .btnLogout:hover {
            background: #0e6cb9;

            .signoutIcon {
                color: $--bg-div-color;
            }

            .text {
                color: $--bg-div-color;
                font-family: $--text-font;
            }
        }
    }

    .dashboard-container {
        @include baseDisplay(rgb(202, 202, 202), auto, 87vw);
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: .2s ease-in-out;

        .navContainer {
            @include baseDisplay(rgb(255, 255, 255), 10vh, 87vw);
            display: flex;
            flex-direction: column;
            transition: .2s ease-in-out;
            border-bottom: .5px solid rgb(146, 146, 146);

            .tabsContainer {
                @include baseDisplay(none, 6vh, 87vw);
                transition: .2s ease-in-out;
                border-bottom: .5px solid rgb(146, 146, 146);

                .tabsBtn {
                    background: rgb(255, 255, 255);
                    height: 5vh;
                    width: auto;
                    border: 0px solid transparent;
                    margin: 0px 1vw 0px 1.5vw;

                    .bars {
                        color: rgba($color: #6e6e6e, $alpha: 1.0);
                        font-size: 1.5em;
                    }
                }

                .tabsBtn:hover {
                    .bars {
                        color: rgba($color: #000000, $alpha: 1.0);
                    }
                }

                .DashboardBtn {
                    @include baseDisplay(none, 6vh, auto);
                    font-family: $--text-font;
                    padding: 0px 10px;
                    border: 0px solid transparent;
                    font-size: .9em;
                    color: gray;
                }

                .DashboardBtn:hover {
                    color: #000000;
                }

                .SettingsBtn {
                    @include baseDisplay(none, 6vh, auto);
                    font-family: $--text-font;
                    padding: 0px 10px;
                    border: 0px solid transparent;
                    font-size: .9em;
                    color: gray;
                }

                .SettingsBtn:hover {
                    color: #000000;
                }
            }

            .tabsContainer_2 {
                @include baseDisplay(none, 4vh, 87vw);
                transition: .2s ease-in-out;
                display: flex;
                align-items: center;
                flex-direction: row;

                .text {
                    font-family: $--text-font;
                    margin-left: 2vw;
                    color: #6e6e6e;
                }
            }
        }

        .renderComponentContainer {
            @include baseDisplay(rgb(233, 233, 233), 90vh, 87vw);
            transition: .2s ease-in-out;
            display: grid;
            place-items: center;

            .Home {
                @include baseDisplay(none, 90vh, 1280px);
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                overflow-y: scroll;

                padding-bottom: 5vh;


                .data-statistics-container {
                    @include baseDisplay(none, 20vh, 1280px);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 3vh;

                    .chart {
                        @include baseDisplay(rgb(152, 45, 240), 18vh, 300px);
                        border-radius: 4px;
                        position: relative;
                        // box-shadow: 1px 0px 5px rgba($color: #000000, $alpha: 0.5);

                        .value-text {
                            position: absolute;
                            top: 10%;
                            left: 1vw;
                            font-family: $--text-font;
                            font-size: 1.5em;
                            font-weight: bold;
                            color: rgb(241, 241, 241);
                        }

                        .category-text {
                            position: absolute;
                            top: 30%;
                            left: 1vw;
                            font-family: $--text-font;
                            font-size: 1em;
                            color: rgb(241, 241, 241);
                        }
                    }

                    .chart-2 {
                        @include baseDisplay(rgb(36, 137, 196), 18vh, 300px);
                        border-radius: 4px;
                        position: relative;
                        // box-shadow: 1px 0px 5px rgba($color: #000000, $alpha: 0.5);

                        .value-text {
                            position: absolute;
                            top: 10%;
                            left: 1vw;
                            font-family: $--text-font;
                            font-size: 1.5em;
                            font-weight: bold;
                            color: rgb(241, 241, 241);
                        }

                        .category-text {
                            position: absolute;
                            top: 30%;
                            left: 1vw;
                            font-family: $--text-font;
                            font-size: 1em;
                            color: rgb(241, 241, 241);
                        }
                    }

                    .chart-3 {
                        @include baseDisplay(rgb(226, 162, 43), 18vh, 300px);
                        border-radius: 4px;
                        position: relative;
                        // box-shadow: 1px 0px 5px rgba($color: #000000, $alpha: 0.5);

                        .value-text {
                            position: absolute;
                            top: 10%;
                            left: 1vw;
                            font-family: $--text-font;
                            font-size: 1.5em;
                            font-weight: bold;
                            color: rgb(241, 241, 241);
                        }

                        .category-text {
                            position: absolute;
                            top: 30%;
                            left: 1vw;
                            font-family: $--text-font;
                            font-size: 1em;
                            color: rgb(241, 241, 241);
                        }
                    }

                    .chart-4 {
                        @include baseDisplay(rgb(243, 50, 43), 18vh, 300px);
                        border-radius: 4px;
                        position: relative;
                        // box-shadow: 1px 0px 5px rgba($color: #000000, $alpha: 0.5);

                        .value-text {
                            position: absolute;
                            top: 10%;
                            left: 1vw;
                            font-family: $--text-font;
                            font-size: 1.5em;
                            font-weight: bold;
                            color: rgb(241, 241, 241);
                        }

                        .category-text {
                            position: absolute;
                            top: 30%;
                            left: 1vw;
                            font-family: $--text-font;
                            font-size: 1em;
                            color: rgb(241, 241, 241);
                        }
                    }
                }

                .chartContainer {
                    @include baseDisplay(green, 50vh, 1280px);
                    display: flex;
                    flex-direction: column;

                    .innerchartContainer {
                        @include baseDisplay(white, 41vh, 1280px);
                        // border-radius: 4px;
                        display: grid;
                        place-items: center;
                        position: relative;
                        // box-shadow: 1px 0px 5px rgba($color: #000000, $alpha: 0.5);
                        padding-bottom: 1vh;

                        .text {
                            font-family: $--text-font;
                            position: absolute;
                            left: 1.5vw;
                            top: 2vh;
                            font-size: 1.5em;
                        }

                        .text-2 {
                            font-family: $--text-font;
                            position: absolute;
                            left: 1.5vw;
                            top: 5.5vh;
                            font-size: .8em;
                            color: gray;
                        }

                        .chart-data {
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 50%;
                            left: 47%;
                            font-size: .9em;
                        }
                    }

                    .data-meterContainer {
                        @include baseDisplay(red, 9vh, 1280px);
                        display: flex;
                        flex-direction: row;

                        .salesContainer {
                            @include baseDisplay(purple, 9vh, 640px);
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            .progress-line-container {
                                @include baseDisplay(red, 9vh, 570px);
                                position: relative;

                                .text {
                                    font-family: $--text-font;
                                    font-size: 1.3em;
                                    position: absolute;
                                    top: 1%;
                                    left: 1%;
                                }
                            }
                        }

                        .sales-targetContainer {
                            @include baseDisplay(rgb(29, 175, 114), 9vh, 640px);
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            .progress-line-container {
                                @include baseDisplay(red, 9vh, 570px);
                                position: relative;

                                .text {
                                    font-family: $--text-font;
                                    font-size: 1.3em;
                                    position: absolute;
                                    top: 1%;
                                    left: 1%;
                                }
                            }
                        }
                    }
                }

                .activityContainer {
                    @include baseDisplay(white, 50vh, 1280px);
                    margin-top: 2vh;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    // box-shadow: 1px 0px 5px rgba($color: #000000, $alpha: 0.5);

                    .titleContainer {
                        @include baseDisplay($--bg-div-color, 5vh, 1280px);
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        .text {
                            color: #0e6cb9;
                            margin-left: 1vw;
                            font-family: $--text-font;
                            font-weight: bold;
                        }
                    }

                    .logContainer {
                        @include baseDisplay(none, 45vh, 1280px);

                    }
                }
            }
        }
    }
}