@import './root.scss';
@import './mixins.scss';

.Dashboard {
    @include baseDisplay(transparent, 100vh, 100vw);
    display: flex;
    flex-direction: row;
    position: relative;
    position: absolute;
    overflow: hidden;

    .nav-tab {
        @include baseDisplay($--bg-div-color, 100vh, 13vw);
        box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: 1.0);
        display: flex;
        flex-direction: column;
        min-width: 13vw;
        transition: .2s ease-in-out;
        position: relative;

        .titleContainer {
            @include baseDisplay(none, 15vh, 13vw);
            display: grid;
            place-items: center;

            .brand {
                height: 11vh;
            }
        }

        .navigation {
            @include baseDisplay(none, auto, 13vw);
            display: flex;
            flex-direction: column;

            .category {
                @include baseDisplay(none, 5vh, 13vw);
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                border: 0px solid transparent;

                .meter {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .text {
                    font-family: $--text-font;
                    font-size: 1em;
                    color: #0e6cb9;
                    position: absolute;
                    right: 10%;
                }
            }

            .btn-1 {
                @include baseDisplay(none, 5vh, 13vw);
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                border: 0px solid transparent;

                .cartIcon {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .tableIcon {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .personIcon {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .truckIcon {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .chartIcon {
                    color: #0e6cb9;
                    position: absolute;
                    left: 10%;
                    font-size: 1.3em;
                }

                .text {
                    font-family: $--text-font;
                    font-size: .8em;
                    color: #0e6cb9;
                    position: absolute;
                    right: 10%;
                }
            }

            .btn-1:hover {
                background: #0e6cb9;

                .cartIcon {
                    color: $--bg-div-color;
                }

                .tableIcon {
                    color: $--bg-div-color;
                }

                .personIcon {
                    color: $--bg-div-color;
                }

                .truckIcon {
                    color: $--bg-div-color;
                }

                .chartIcon {
                    color: $--bg-div-color;
                }

                .text {
                    color: $--bg-div-color;
                }
            }
        }

        .btnLogout {
            @include baseDisplay(none, 5vh, 13vw);
            position: relative;
            position: absolute;
            bottom: 2%;
            display: grid;
            place-items: center;
            border: 0px solid transparent;

            .signoutIcon {
                color: #0e6cb9;
                position: absolute;
                left: 10%;
                font-size: 1.3em;
            }

            .text {
                font-family: $--text-font;
                font-size: .9em;
                color: #0e6cb9;
                position: absolute;
                right: 10%;
            }
        }

        .btnLogout:hover {
            background: #0e6cb9;

            .signoutIcon {
                color: $--bg-div-color;
            }

            .text {
                color: $--bg-div-color;
                font-family: $--text-font;
            }
        }
    }

    .dashboard-container {
        @include baseDisplay(rgb(202, 202, 202), 100vh, 87vw);
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: .2s ease-in-out;

        .navContainer {
            @include baseDisplay(rgb(255, 255, 255), 10vh, 87vw);
            display: flex;
            flex-direction: column;
            transition: .2s ease-in-out;
            border-bottom: .5px solid rgb(146, 146, 146);

            .tabsContainer {
                @include baseDisplay(none, 6vh, 87vw);
                transition: .2s ease-in-out;
                border-bottom: .5px solid rgb(146, 146, 146);

                .tabsBtn {
                    background: white;
                    height: 6vh;
                    width: 5vw;
                    border: 0px solid transparent;
                    border-bottom: .5px solid rgb(146, 146, 146);

                    .bars {
                        color: rgba($color: #6e6e6e, $alpha: 1.0);
                        font-size: 1.5em;
                    }
                }

                .tabsBtn:hover {
                    .bars {
                        color: rgba($color: #000000, $alpha: 1.0);
                    }
                }
            }

            .tabsContainer_2 {
                @include baseDisplay(none, 4vh, 87vw);
                transition: .2s ease-in-out;

            }
        }

        .renderComponentContainer {
            @include baseDisplay(rgb(233, 233, 233), 90vh, 87vw);
            transition: .2s ease-in-out;
            display: grid;
            place-items: center;

            .Home {
                @include baseDisplay(red, 100vh, 1280px);
                display: flex;
                flex-direction: column;

                .data-statistics-container {
                    @include baseDisplay(green, 20vh, 1280px);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 3vh;

                    .chart {
                        @include baseDisplay(rgb(152, 45, 240), 18vh, 300px);
                        border-radius: 5px;
                    }

                    .chart-2 {
                        @include baseDisplay(rgb(36, 137, 196), 18vh, 300px);
                        border-radius: 5px;
                    }

                    .chart-3 {
                        @include baseDisplay(rgb(226, 162, 43), 18vh, 300px);
                        border-radius: 5px;
                    }

                    .chart-4 {
                        @include baseDisplay(rgb(243, 50, 43), 18vh, 300px);
                        border-radius: 5px;
                    }
                }

                .chartContainer {
                    @include baseDisplay(purple, 50vh, 1280px);
                }
            }
        }
    }
}