@import './root.scss';
@import './mixins.scss';

.Login {
    @include baseDisplay(none, 100vh, 100vw);
    display: grid;
    place-items: center;

    .LoginFormContainer {
        @include baseDisplay($--bg-theme-color-2, auto, 21.1vw);
        box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.3);
        border-radius: 5px;
        display: flex;
        flex-direction: column;

        .TitleContainer {
            @include baseDisplay(none, 7vh, 21.1vw);
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;

            .text {
                font-family: $--text-font;
                font-size: 1.8em;
                margin-left: 1.5vw;
                margin-bottom: .5vh;
                font-weight: bold;
                color: $--bg-theme-color;
            }
        }

        .FormContainer {
            @include baseDisplay($--bg-theme-color-2, 12.5vh, 21.1vw);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            margin-top: 1vh;

            .usernameFormContainer {
                @include baseDisplay(none, 5vh, 25vw);
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;

                position: relative;

                .text {
                    position: absolute;
                    font-weight: bold;
                    color: $--bg-theme-color;
                    font-family: $--text-font;
                    font-size: .6em;
                    top: 0;
                    left: 1.5vw;
                }

                .userInput {
                    margin-left: 1.5vw;
                    height: 3.5vh;
                    border: none;
                    padding: 6px 0px;
                    width: 18vw;
                    outline: none;
                    background: $--bg-theme-color-2;
                    color: $--bg-theme-color;
                    border-bottom: 2px solid rgba($color: $--bg-theme-color, $alpha: 1.0);
                }
            }

            .passwordFormContainer {
                @include baseDisplay(none, 5vh, 25vw);
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;

                position: relative;

                .text {
                    position: absolute;
                    font-weight: bold;
                    color: $--bg-theme-color;
                    font-family: $--text-font;
                    font-size: .6em;
                    top: 0;
                    left: 1.5vw;
                }

                .userInput {
                    margin-left: 1.5vw;
                    height: 3.5vh;
                    border: none;
                    padding: 6px 0px;
                    width: 18vw;
                    outline: none;
                    background: $--bg-theme-color-2;
                    color: $--bg-theme-color;
                    border-bottom: 2px solid rgba($color: $--bg-theme-color, $alpha: 1.0);
                }
            }
        }

        .BtnContainer {
            @include baseDisplay(none, 10vh, 21.1vw);
            display: flex;
            flex-direction: column;

            margin-bottom: 1vh;

            .checkboxContainer {
                @include baseDisplay(none, 3vh, 25vw);
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .checkbox {
                    margin-left: 1.5vw;
                }

                .text {
                    font-size: .8em;
                    font-family: $--text-font;
                    font-weight: bold;
                    color: $--bg-theme-color;
                }
            }

            .submitBtnContainer {
                @include baseDisplay(none, 7vh, 21.1vw);
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .btnSubmit {
                    font-family: $--text-font;
                    color: $--bg-theme-color-2;
                    height: 4vh;
                    width: 5vw;
                    margin-left: 1.5vw;
                    border: 0px solid transparent;
                    background: $--bg-theme-color;
                }

                .btnSubmit:hover {
                    color: #000000;
                }
            }
        }
    }
}