@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); // font-family: 'Poppins',sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); // font-family: 'Raleway', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: 0px;
}

//variables 
$--bg-none: none;
$--bg-dashbg: rgb(233, 233, 233);
$--bg-div-color: rgb(9, 16, 27);
$--bg-color: rgba($color: #080808, $alpha: 1.0);
$--text-font: 'Raleway', sans-serif;

$--bg-theme-color: rgb(242, 207, 13);
$--bg-theme-color-2: rgb(57, 29, 12);